@font-face {
  font-family: 'flexoregular';
  src: url('./assets/fonts/flexo-regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/flexo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
